img {
    width:300px;
    height:250;
    border-style:solid;
    border-color:black;
    border-width:1px;
}

#main_heading {
    font-style:italic;
    background-color:gray;
}

h1 {
    text-decoration: underline;
    text-transform: uppercase;
}

body {
    background: #D2C9B8;
    margin:50px;
}

h3 {
    font-size:12pt;
}

input[text]{
    font-family:georgia;
    font-size:12px;   
    letter-spacing: 0.5em;
}

ul > li {
    font-family:verdana;
    font-size:10pt; 
}

table, th, td{
    border:solid black;
    text-align: center;
    padding: 2px;
    background-color:gray;
}